/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 768px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 375px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mb-24 {
  margin-bottom: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-48 {
  padding-top: 48px;
}

.pb-32 {
  padding-bottom: 32px;
}

.title-cht {
  font-family: "Noto Sans TC", sans-serif;
}

.title-big {
  font-size: 64px;
}

.title-middle {
  font-size: 48px;
}

.title-small {
  font-size: 36px;
}

.link-middle {
  font-size: 20px;
}

.link-small {
  font-size: 14px;
}

.nav-bg {
  background: #aa0601;
}

.navbar img {
  width: 80px;
}
@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 16px 0 0 0;
  }
  .navbar h1 {
    padding-left: 16px;
    padding-bottom: 16px;
  }
}

.nav-items li a {
  display: block;
  padding: 25px 32px;
}
@media (max-width: 768px) {
  .nav-items {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-items li {
    width: 50%;
    text-align: center;
    outline: 1px solid #fff;
  }
  .nav-items li a {
    padding: 12px 0;
    font-size: 16px;
  }
}

.footer-bg {
  background: #aa0601;
}

.footer {
  border-bottom: 1px solid #fff;
}
@media (max-width: 375px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.links li {
  padding: 0 24px;
}
@media (max-width: 768px) {
  .links {
    display: none;
  }
}

.social {
  gap: 24px;
}
.social img {
  width: 48px;
}
@media (max-width: 768px) {
  .social img {
    width: 40px;
  }
}
@media (max-width: 375px) {
  .social {
    gap: 8px;
  }
  .social img {
    width: 24px;
  }
}

.contact-us span {
  font-size: 48px;
  color: #fff;
  margin-right: 20px;
}
.contact-us .title-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 786px) {
  .contact-us {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .contact-us span {
    font-size: 16px;
    margin-right: 10px;
  }
  .contact-us p {
    font-size: 16px;
  }
}

.copyright {
  color: #fff;
}

.policy {
  gap: 48px;
}
@media (max-width: 375px) {
  .policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 375px) {
  .copy-policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}