@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@1,900&display=swap');
*,*::before,*::after{
	box-sizing: border-box;
}
img{
	vertical-align: middle;
    max-width: 100%;
	height: auto;
}
body{
    font-family: "Roboto",'Noto Sans TC', sans-serif;
	line-height: 1.5;
}
a{
	text-decoration: none;
	color: $main-text-color;
}

.container{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;
	@media (max-width: 768px){
		padding-left: 36px;
		padding-right: 36px;
	}
	@media (max-width: 375px){
		padding-left: 12px;
		padding-right: 12px;
	}

}


// 通用樣式
.d-flex{
	display: flex;
}
.jc-sb{
	justify-content: space-between;
}
.ai-center{
	align-items: center;
}

.mb-24{
	margin-bottom: 24px;
}


.pt-32{
	padding-top: 32px;
}
.pt-48{
	padding-top: 48px;
}
.pb-32{
	padding-bottom: 32px;
}
